.table {
  display: flex;
  flex-direction: column;
  background-color: #efaa1a;
  max-width: 287px;
  margin: -140px auto 0;
  border-radius: 10px;
  padding-bottom: 5px;
  position: relative;
  z-index: 2;
}
