.risks-and-important__title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: "Rubik", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  width: 65px;
  height: 25px;
  color: #1438a5;
  padding-top: 5px;
  margin: 0 0 10px;
}
