.intro__title {
  margin: 0;
  font-family: "Rubik", "Helvetica Neue", Arial, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 220px;
}
